body {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 700 !important;
}

h2,
h3,
.card-body > .card-title {
  font-family: "Heebo", sans-serif;
}

h2 {
  color: #000;
}

p {
  font-size: 18px;
}

.pt-6 {
  padding-top: 4rem;
}

.pt-7 {
  padding-top: 5rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pt-9 {
  padding-top: 7rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.pb-7 {
  padding-bottom: 5rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.pb-9 {
  padding-bottom: 7rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.App-logo {
  height: 175px;
  width: 175px;
  margin-top: 15px;
}

.nav-link {
  color: #000 !important;
  font-weight: 550;
  font-size: 20px;
}

.nav-link-main:hover {
  border-bottom: 3px solid #000;
}

.noLink {
  color: #000;
}

.full-width-div {
  position: relative;
  width: 100%;
  left: 0;
}

.img-main {
  width: 100%;
  height: auto;
  max-height: 600px;
}

.card-title {
  font-weight: 200;
  font-size: 20px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: darkgray;
  color: white;
  padding: 20px 0;
  text-decoration: none !important;
}

.site-footer a {
  font-size: 20px;
  font-weight: 550;
  text-decoration: none !important;
}

.bg-gray {
  background-color: lightgray;
}

.bg-orange {
  background-color: #f8913d;
}

.btn-blue {
  background-color: #2769e3;
  color: white;
  border-radius: 25px !important;
  padding: 15px;
}

.btn-link-blue {
  color: #2769e3 !important;
  font-weight: bold;
}

.btn-orange {
  background-color: #f8913d;
  color: white;
  border-radius: 25px !important;
  padding: 15px;
}

.btn-pill {
  border-radius: 25px !important;
}

a {
  color: #2769e3;
}

@media (max-width: 767px) {
  h2,
  h3 {
    padding: 10px 10px 0 10px;
  }
  p {
    padding: 0 10px;
  }
  button {
    margin: 0 5px;
  }
}
