body {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 700 !important;
}

h2,
h3,
.card-body > .card-title {
  font-family: "Heebo", sans-serif;
}

h2 {
  color: #000;
}

p {
  font-size: 18px;
}

.pt-6 {
  padding-top: 4rem;
}

.pt-7 {
  padding-top: 5rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pt-9 {
  padding-top: 7rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.pb-7 {
  padding-bottom: 5rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.pb-9 {
  padding-bottom: 7rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mt-9 {
  margin-top: 7rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mb-7 {
  margin-bottom: 5rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.mb-9 {
  margin-bottom: 7rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.App-logo {
  height: 175px;
  width: 175px;
}

.navbar {
  margin-top: 15px;
}

.nav-item {
  align-self: center;
}

.nav-link {
  color: #000 !important;
  font-weight: 500;
  font-size: 20px;
}

.nav-link-main:hover {
  border-bottom: 3px solid #000;
}

.noLink {
  color: #000;
}

.noDec {
  text-decoration: none !important;
}

.breadcrumb {
  background-color: #fff !important;
  margin-left: 20px;
}

.full-width-div {
  position: relative;
  width: 100%;
  left: 0;
}

.img-main {
  width: 100%;
  height: auto;
  max-height: 600px;
}

.img-three {
  width: 100%;
  height: auto;
  max-height: 300px;
}

.card-title {
  font-weight: 200;
  font-size: 20px;
}

.card-header {
  font-family: "Heebo";
  font-size: 20px;
  color: #fff;
  background-color: #2769e3 !important;
}

.card {
  border-radius: 25px !important;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.nav-item.nav-link.active {
  background-color: #f8913d !important;
  color: #fff !important;
}

.nav-tabs .nav-link.active {
  border-radius: 25px 25px 0 0 !important;
}

.nav-item.nav-link {
  background-color: #f8913d;
  color: #6d6e72 !important;
}

.nav-tabs .nav-link {
  border-radius: 25px 25px 0 0 !important;
}

@media (max-width: 768px) {
  .navbar-nav {
    width: 50%;
    align-items: right;
  }
  .nav-item {
    margin: 5px 0 0 0;
  }
}

.site-footer {
  background-color: lightgray;
  padding: 20px 0;
}

.site-footer a {
  font-size: 20px;
  font-weight: 550;
  text-decoration: none !important;
}

.site-footer a:hover {
  color: white;
}

@media (max-width: 768px) {
  .mobileFooter {
    text-align: center;
  }
  .mobileFooter a {
    padding-bottom: 10px !important;
  }
}

.bg-gray {
  background-color: lightgray;
}

.bg-orange {
  background-color: #f8913d;
}

.btn-blue {
  background-color: #2769e3 !important;
  color: white;
  border: none !important;
  border-radius: 25px !important;
  padding: 15px;
}

.btn-link-blue {
  color: #2769e3;
  font-weight: bold;
}

.btn-orange {
  background-color: #f8913d !important;
  color: white;
  border: none !important;
  border-radius: 25px !important;
  padding: 15px;
}

.btn-pill {
  border-radius: 25px !important;
  text-decoration: none !important;
}

a {
  color: #2769e3;
  text-decoration: none;
}

.shadow {
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

@media (max-width: 768px) {
  h2,
  h3 {
    padding: 10px 10px 0 10px;
  }
  p {
    padding: 0 10px;
  }
  button {
    margin: 0 5px;
  }
}

.sbtn {
  display: inline;
  border: none;
  color: #fff;
  font-size: 0.6em;
  cursor: pointer;
  right: 14px;
  top: 14px;
  width: 37px;
  height: 37px;
  border-radius: 0 25px 25px 0;
  background-color: #f8913d;
}
